@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Roboto');

#createaccount {
  margin-right: 3%;
}

#signin {
  margin-left: 3%;
}

.landingTitle {
  margin-top: 10%;
  font-size: 72px;
  font-family: 'Roboto', sans-serif;
  color: white;
}
