@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Roboto');

.gradientBackground {
  background-image: linear-gradient(#6100ff, #6100ff, #78eddd);
  min-height: 100vh;
  text-align: center;
  z-index: -10;
  display: inline-block;
  width: 100%;
}

.tealBackground {
  background: #78eddd;
  min-height: 100vh;
  text-align: center;
  z-index: -10;
  display: inline-block;
  width: 100%;
}

.centeredVertical {
  line-height: 100vh;
}

.centeredHorizontal {
  margin: auto;
}

.loginFormContainer{
  margin: auto;
  width: 450px;
  padding-top: 20px;
  padding-bottom: 36px;
  padding-right: 56px;
  padding-left: 50px;
  background-color: white;
  border-radius: 6px;
  margin-top: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.loginTitle{
  font-family: 'Roboto', sans-serif;
  margin-left: 16px;
}
